<div class="d-flex justify-content-center mt-3">
  <button mat-button [routerLink]="['/projects']">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <mat-card class="col-6" *ngIf="_project | async as project">
    <mat-card-header class="align-self-center">
      <mat-card-title>
        <h3 mat-line>Project Id</h3>
        <p>{{project.id}}</p>
        <h3 mat-line>Project Title</h3>
        <p>{{project.title}}</p>
        <h3 mat-line>Project Details</h3>
        <p>{{project.details}}</p>
        <h3 mat-line> Project Approved</h3>
        <p>{{project.approved}}</p>
      </mat-card-title>
    </mat-card-header>
  </mat-card>
</div>
